.input {
  font-family: 'GetSchwifty';
  width: 40%;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 1px 3px 9px rgba($color: #000000, $alpha: 0.25);
  padding: 10px 15px;
  &:focus {
    outline: none;
  }
}

.btn {
  font-family: 'GetSchwifty';
  box-shadow: 1px 3px 9px rgba($color: #000000, $alpha: 0.25);
}
@media (max-width: 576px) {
  .input {
    width: 80%;
  }
}
